#job-container {
    display: flex;
    /* align-items: center; */
    /* height: 100%; */
    /* justify-content: center; */
}

#job-title {
    padding-top: 200px;
    padding-left: 200px;
}

#skills {
    padding-left: 200px;
    padding-top: 30px;
}